<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });



    </script>
    <meta name="viewport" content="width=1280, initial-scale=1">
    <script>       
      document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+screen.width+', initial-scale=1');
      </script>
    </head>
    <style>
.flex { display : flex }
    </style>

</head>
<body>


<div id="inputScreen">
<h1 id="first2">Enter Wikipedia Article</h1>
<label id="first0" for="artical">Artikelnaam:</label>
<input type="text" id="artName" name="artName"><br><br>
<button id="first1" onclick="sendArt()">Submit</button>
</div>
<div id="submittedArticle">
    <div class="flex">
        <p>Your artical is: </p>
        <p id="articleDisplay"></p>
    </div>
    <input type="text" id ="repart">
    <button id="editButton" onclick="editArticle()">Bewerken</button>
</div>

<!-- Voeg elementen toe om de ontvangen data weer te geven -->
<div id="input">
<p id="artNameDisplay"></p>
<p id="guesserDisplay"></p>
<p id="raderMessage"></p>
<div id="rader" style="display: block;">
  <div style="align-items: center; display: flex; justify-content: center; padding: 4rem 0">
    <ul id="columns">
      <!-- Voeg hier meer <div> elementen toe voor elke speler -->
    </ul>
  </div>
</div>

<button id="submitButton" onclick="submitGuess()">Submit</button>
</div>


</div>
</div>
<div id="res">
<!-- Geraden volgorde -->
<h2 id="res1">Geraden volgorde:</h2>
<ul id="orderList"></ul>

<!-- Het echte artikel -->
<h2 id="res2">Het echte artikel:</h2>
<p id="correctArticle"></p>

<!-- Punten -->
<h2 id="res3">Punten:</h2>
<ul id="pointsList"></ul>
<button id="nextRoundBtn" onclick='socketio.emit("nextRound",{{userID}});'>next round</button>
</div>

<script>

    document.getElementById("nextRoundBtn").style.display = "none";
    var isGessur = false;
    document.getElementById("submittedArticle").style.display = "none";
    document.getElementById("submitButton").style.display = "none";
    var socketio = io();
    var userID = {{userID}};
    document.getElementById("res").style.display = "none";
    document.getElementById("editButton").style.display = "none";
    document.getElementById("repart").style.display = "none";

function sendArt() {
    var article = document.getElementById("artName").value;
    socketio.emit("addArt", {userID: userID, art: article});

    // Display the submitted article
    document.getElementById("articleDisplay").textContent = article;
    document.getElementById("submittedArticle").style.display = "block";

    // Hide the input fields and submit button
    document.getElementById("inputScreen").style.display = "none";
    document.getElementById("editButton").style.display = "block";
    document.getElementById("submittedArticle").style.display = "block";
}
function editArticle() {
    var articleDisplay = document.getElementById("articleDisplay");
    var article = articleDisplay.textContent;

    // Replace the paragraph with an input field to edit the article
    var inputField = document.getElementById("repart");
    inputField.value = article;
    inputField.style.display = "block";

    // Focus on the input field and select its content
    inputField.focus();
    inputField.select();

    // Update the submit button to save the edited article
    var editButton = document.getElementById("editButton");
    editButton.textContent = "Opslaan";
    editButton.setAttribute('onclick','saveArticle()')


}


function saveArticle() {

    // Update the displayed article
    socketio.emit("addArt", {userID: userID, art: document.getElementById("repart").value});
    document.getElementById("articleDisplay").innerText = document.getElementById("repart").value;
    var articleDisplay = document.getElementById("articleDisplay");
    var paragraph = document.createElement("p");
    paragraph.id = "articleDisplay";
    paragraph.textContent = document.getElementById("repart").value;
    articleDisplay.parentNode.replaceChild(paragraph, articleDisplay);

    var editButton = document.getElementById("editButton");
    editButton.textContent = "Bewerken";
    editButton.onclick = editArticle;
    document.getElementById("repart").style.display = "none";

}
socketio.on("startRound", (data) => {
    var artName = data.art;
    var guesserUserID = data.guesserID;
    var guesserName = data.guesserName;
    var guessers = data.players;
    document.getElementById("submittedArticle").style.display = "none";
    document.getElementById("input").style.display = "block";

    if (guesserUserID == userID) {
        // Jij bent de rader
        isGessur = true;
        document.getElementById("raderMessage").textContent = "Jij bent de rader!";
        document.getElementById("rader").style.display = "block";

        // Vul de dropdown-lijst met de andere spelers
        var list = document.getElementById("columns");
        list.innerHTML = "";

        // Voeg de guessers toe aan de lijst met verschuifbare elementen
        for (var i = 0; i < guessers.length; i++) {
            
            var guesser = guessers[i];
            console.log(guesser.id);
            var listItem = document.createElement("div");
            listItem.innerHTML = guesser.name;
            listItem.draggable= true;
            listItem.className = "column";
            listItem.setAttribute('data-value',guesser.id); // Voeg de userID toe als value
            list.appendChild(listItem);
            document.getElementById("submitButton").style.display = "block";
        }
        var columns = document.querySelectorAll('#columns .column');
  columns.forEach(function(column) {
    column.addEventListener('dragstart', handleDragStart, false);
    column.addEventListener('dragenter', handleDragEnter, false);
    column.addEventListener('dragover', handleDragOver, false);
    column.addEventListener('dragleave', handleDragLeave, false);
    column.addEventListener('drop', handleDrop, false);
    column.addEventListener('dragend', handleDragEnd, false);
  });

    } else {
        // Andere speler is de rader
        isGessur = false;
        document.getElementById("raderMessage").textContent = "De rader is: " + guesserName;
        document.getElementById("rader").style.display = "none";
        
    }
    document.getElementById("artNameDisplay").textContent = "Artikelnaam: " + artName;
});
function submitGuess() {
    var listItems = document.getElementsByClassName("columns");
    var guessIDs = [];

    // Haal de ID's op van de listItems en voeg ze toe aan de guessIDs-array
    var columns = document.getElementById("columns"); // Het ul-element met id "columns"
  var divs = columns.getElementsByTagName("div"); // Alle div-elementen binnen het ul-element

  for (var i = 0; i < divs.length; i++) {
    var div = divs[i];
    var text = div.getAttribute('data-value'); // De tekstinhoud van de div zonder eventuele voorloop- of naloopspaties
    guessIDs.push(text); // Voeg de tekstinhoud toe aan de array
  }

    socketio.emit("submitGuess", guessIDs);
};
socketio.on("subbedGuess", (data) => {
    document.getElementById("res").style.display = "block";
    document.getElementById("input").style.display = "none";
    var order = data.order;
    var correct = data.correct;
    var points = data.points;

    // Weergeef de geraden volgorde
    var orderList = document.getElementById("orderList");
    orderList.innerHTML = "";
    for (var playerID in order) {
        var playerName = playerID; // Vervang dit door de functie om de speler naam op te halen
        var guess = order[playerID];
        var listItem = document.createElement("li");
        listItem.textContent = playerName + " - " + guess;
        orderList.appendChild(listItem);
    };

    // Weergeef wie het echte artikel heeft
    var correctArticle = document.getElementById("correctArticle");
    var raderName = correct;
    correctArticle.textContent = "Het echte artikel is van: " + raderName;

    // Weergeef de punten van iedereen
    var pointsList = document.getElementById("pointsList");
    pointsList.innerHTML = "";
    for (var playerID in points) {
        var playerName = playerID; // Vervang dit door de functie om de speler naam op te halen
        var playerPoints = points[playerID];
        var listItem = document.createElement("li");
        listItem.textContent = playerName + " - " + playerPoints + " punten";
        pointsList.appendChild(listItem);
    }
    if (isGessur){
        document.getElementById("nextRoundBtn").style.display = "block";
    } else{
        document.getElementById("nextRoundBtn").style.display = "none";
    }
    
});
socketio.on("next", (data) => {
    document.getElementById("res").style.display = "none";
    if (userID == data){
        document.getElementById("inputScreen").style.display = "block";

    } else{
        document.getElementById("submittedArticle").style.display = "block";


    }
    console.log(data);

});
</script>

<script>
  var dragSrcElement = null;

  function handleDragStart(e) {
    dragSrcElement = this;
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
    this.classList.add('dragging');
  }

  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }
    e.dataTransfer.dropEffect = 'move';
    return false;
  }

  function handleDragEnter(e) {
    this.classList.add('over');
  }

  function handleDragLeave(e) {
    this.classList.remove('over');
  }

  function handleDrop(e) {
    if (e.stopPropagation) {
      e.stopPropagation();
    }
    if (dragSrcElement !== this) {
      dragSrcElement.innerHTML = this.innerHTML;
      this.innerHTML = e.dataTransfer.getData('text/html');
    }
    return false;
  }

  function handleDragEnd(e) {
    this.classList.remove('dragging');
    var columns = document.querySelectorAll('#columns .column');
    columns.forEach(function(column) {
      column.classList.remove('over');
    });
  }

  var columns = document.querySelectorAll('#columns .column');
  columns.forEach(function(column) {
    column.addEventListener('dragstart', handleDragStart, false);
    column.addEventListener('dragenter', handleDragEnter, false);
    column.addEventListener('dragover', handleDragOver, false);
    column.addEventListener('dragleave', handleDragLeave, false);
    column.addEventListener('drop', handleDrop, false);
    column.addEventListener('dragend', handleDragEnd, false);
  });
</script>
<style>
  .column {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: move;
  }

  .dragging {
    opacity: 0.4;
  }

  .over {
    border-color: #ff0000;
  }
</style>


<!-- Dropdown-
