<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"

    ></script>
    <meta name="viewport" content="width=1280, initial-scale=1">
    <script>       
      document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+screen.width+', initial-scale=1');
      </script>
      
</head>

</head>
<body>

<center>
  <h1>WikiGame</h1>
    <h2>game code: {{code}}</h2>

    <p>players:</p>
</center>

<div class="player-box">
    <center>
        <div class="players" id="players"></div>
    </center>
</div>

<script type="text/javascript">
  var socketio = io();
  const players = document.getElementById("players");

  const addPlayer = (name) => {
    const names = document.getElementsByClassName('name');
    let i = 0;
    let addName = true;
    while (i < names.length) {
      if (name == names[i].innerHTML){
        addName = false;
      }
    i++;
  }  
  if(addName){
    const content = `<div><strong class="name">${name}</strong></div>`;
    players.innerHTML += content;
  }

  };
   socketio.on("addUser", (data) => {

    addPlayer(data);
  });
    socketio.emit("join", { userID:{{userID}},gameCode:"{{code}}" });
  socketio.on("startGame", (data) => {
  window.location.href="game";

  });

</script>


{% for player in players %}
<script type="text/javascript">
  addPlayer("{{player}}");
</script>
{% endfor %}


  {% if owner %}

<button style="text-align:center" onclick='socketio.emit("start", {gameCode:"{{code}}" })'>start game</button>
{% endif %}

</body>
</html>