<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <title>wikiGame</title>
    <meta name="viewport" content="width=1280, initial-scale=1">
    <script>       
      document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+screen.width+', initial-scale=1');
      </script>
<body>
<h1>Welcome back, {{name}}</h1>
<p> U have {{points}} points</p>
<form method="post" class="buttons">
  <div class="join">
    <input type="text" placeholder="Game Code" pattern="[A-Z]{2}" oninput="this.value = this.value.toUpperCase()" name="code" value="{{code}}" />
    <button type="submit" name="join">Join a game</button>
  </div>
  <button type="submit" name="create" class="create-btn">Create a game</button>
</form>
</body>
</html>